# Byte-compiled / transient
__pycache__/
*.pyc
*.pyo
*.pyd


# Data
data/
*.mp4
*.npy
*.npz
*.pth
*.pt


# Env
env/
venv/
.anaconda/


# OS
.DS_Store
Thumbs.db


# VSCode
.vscode/


# Personal
*.log
secrets.yaml
